.container {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: flex;
  align-items: center;
  color: #CE5E14;
  background: #232F3A;
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: .875rem;
  line-height: 1;
  padding: .625rem 1.25rem;
  max-width: max-content;
}

.botao.topicos::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url('/src/img/icon-topicos.svg');
}

.botao-des {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: .875rem;
  line-height: 1;
  padding: .625rem 1.25rem;
  max-width: max-content;
}

.botao-des.chat::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url('/src/img/icon-chat.svg');
}


.separador-sec {
  height: 1px;
  border: none;
  background: #232F3A;
  width: 100%;
  margin: 0;
}

.titulo {
  font-family: "Poppins";
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.subtitulo {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.3;
  color: #7F909E;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}