.botao {
  display: flex;
  gap: 6px;
  align-items: center;
  color: #CE5E14;
  background: #232F3A;
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: .875rem;
  line-height: 1;
  padding: .625rem 1.25rem;
  max-width: max-content;
}

.botao.topicos::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url('/src/img/icon-topicos.svg');
}

.botao-des {
  display: flex;
  gap: 6px;
  align-items: center;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: .875rem;
  line-height: 1;
  padding: .625rem 1.25rem;
  max-width: max-content;
}

.botao-des.chat::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}


.separador-sec {
  height: 1px;
  border: none;
  background: #232F3A;
  width: 100%;
  margin: 0;
}


.botao-des.topicos::before 
{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url('/src/img/icon-topicos.svg');
}

.sec-bg {
  background: #0C1217;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.secao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  margin: 20px auto;
}

.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 20px;
}

.box-pesquisa {
  position: fixed;
  bottom: 40px;
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 800px;
  background: #172028;
  padding: 15px 30px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pesquisa-texto {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 10px;
  background: transparent;
}

.pesquisa-texto::placeholder {
  color: #7F909E;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

.icon-file {
  width: 20px;
  height: 20px;
  background-size: cover;
  cursor: pointer;
}

.icon-send {
  width: 32px;
  height: 32px;
  background-size: cover;
  cursor: pointer;
}

.aviso-chat {
  font-family: "Roboto";
  font-size: .75rem;
  color: #7F909E;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}