.botao {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: .875rem;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  background: #CE5E14;
  border: none;
  align-items: center;
  width: fit-content;
  margin-bottom: 20px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.botao:hover {
  opacity: 0.9;
}

.botao:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}