.sidebar {
  width: 70px;
  height: calc(100vh - 120px);
  background: #172028;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
}

.sidebar.open {
  width: 280px;
  align-items: start;
  padding-left: 25px;
}

.sidebar.open .config {
  transform: rotate(360deg);
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.sidebar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon-pesquisa {
  width: 20px;
  height: 20px;
  position: fixed;
  left: 230px;
  cursor: pointer;
}

.mens-temp-container {
  width: 20px;
  height: 20px;
  position: fixed;
  left: 230px;
  cursor: pointer;
}

.menu-button.rotate-r {
  transform: rotate(180deg);
  transition: transform .3s;
}

.menu-button.rotate-l {
  transform: rotate(0deg);
  transition: transform .3s;
}

.config.rotate-r {
  transform: rotate(360deg);
  transition: transform .3s;
}

.config.rotate-l {
  transform: rotate(0deg);
  transition: transform .3s;
}

.new-chat {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.new-chat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.new-chat-content {
  display: flex;
  gap: 5px;
  align-items: center;
}

.texto-sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #7F909E;
}

.sidebar-bottom {
  display: flex;
  align-items: center;
  gap: 5px;
}

.config {
  width: 20px;
  height: 20px;
  cursor: pointer;
}